<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../css/replyStyles.css"
          th:href="@{/css/replyStyles.css}" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <style>
        .container {
            max-width: 720px;
        }

        .container-text {
            max-height: 360px;
            height: 360px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="container-fluid">
        <h1 class="mt-4 text-center" th:text="${board.title}"></h1>
        <div class="p-1 my-4 container-text">
            <p th:text="${board.content}"></p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button class="w-25 btn btn-primary btn-lg"
                    th:if="${session.userId == board.userId}"
                    th:onclick="|location.href='@{/board/list/{boardId}/edit(boardId=${board.boardId})}'|"
                    th:text="수정">
            </button>
            <button class="w-25 btn btn-secondary btn-lg"
                    th:if="${session.userId == board.userId}"
                    onclick="deleteArticle()"
                    th:text="삭제">
            </button>
        </div>
    </div>
    <hr th:if="${session.user != null}">
    <div class="row" th:if="${session.user != null}">
        <div class="col text-center">
            <form name="addReply">
                <input class="pt-0 p-1 w-75" type="text" id="reply-content" name="reply-content"
                       style="{ border:1px solid black }">
                <button class="w-10 btn btn-primary btn-sm" type="button" onclick="insertReply()">저장</button>
            </form>
        </div>
    </div>
    <div class="mt-2 row">
        <div class="col-5">
            <hr>
        </div>
        <div class="col-2">
            <p class="mt-1 text-center">댓글</p>
        </div>
        <div class="col-5">
            <hr>
        </div>
    </div>
    <div id="reply_container">
        <div class="col">
            <ul class="reply_box_list">
                <li th:each="reply:${replyList}" th:id="|reply-id-${reply.replyId}|">
                    <div class="reply_box">
                        <div class="reply_box_nickname" th:text="${reply.nickname}"></div>
                        <div class="reply_box_content" th:text="${reply.content}"></div>
                        <div class="reply_box_function_buttons">
                            <button class="reply_box_nested_btn"
                                    th:onclick="|javascript:getNestedReply(${reply.replyGroup})|">답글
                            </button>
                            <button class="reply_box_update_btn" th:if="${reply.userId == session.userId}"
                                    th:onclick="|javascript:getUpdateForm(${reply.replyId})|">수정
                            </button>
                            <button class="reply_box_delete_btn" th:if="${reply.userId == session.userId}"
                                    th:onclick="|javascript:deleteReply(${reply.replyId})|">삭제
                            </button>
                        </div>
                        <div class="update_reply_form" style="display:none; padding-top:10px"
                            th:id="|update-form-${reply.replyId}|">
                            <div class="row">
                                <div class="col text-center">
                                    <input class="pt-0 p-1 w-75" type="text" name="update-reply-content"
                                           style="{ border:1px solid black }" th:id="|update-reply-content-${reply.replyId}|">
                                    <button class="w-10 btn btn-secondary btn-sm" type="button" th:onclick="|javascript:updateReply(${reply.replyId})|">수정</button>
                                </div>
                            </div>
                        </div>
                        <div class="nested_reply_container" style="display:none"
                             th:id="|nested-reply-list-${reply.replyGroup}|">
                            <hr th:if="${session.user != null}">
                            <div class="row" th:if="${session.user != null}">
                                <div class="col text-center">
                                    <form name="addReply">
                                        <input class="pt-0 p-1 w-75" type="text" name="nested-reply-content"
                                               style="{ border:1px solid black }" th:id="|nested-reply-content-${reply.replyGroup}|">
                                        <button class="w-10 btn btn-secondary btn-sm" type="button" th:onclick="|javascript:insertNestedReply(${reply.replyGroup})|">저장</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">

    function deleteArticle() {
        const uri = window.location.pathname;

        fetch(uri, {
            method: "delete",
            redirect: "follow"
        }).then(response => {
            if (response.redirected) {
                window.location.href = response.url;
            }
        }).catch(function (err) {
            console.info(err + " url: " + url);
        });
    }

    function insertReply() {

        const uri = window.location.pathname;
        const target = uri + "/reply";

        const content = document.querySelector("#reply-content").value;

        const split = uri.split('/');
        const boardId = split[split.length - 1];

        fetch(target, {
            method: "post",
            headers: {
                "Content-Type": "application/json; charset=utf-8"
            },
            body: JSON.stringify({content: content, userId: [[${session.userId}]], boardId: boardId, depth: 1})
        }).then(response => response.json())
            .then(reply => {
                console.log(reply);

            }).catch(function (err) {
            console.info(err);
        });
    }

    function insertNestedReply(replyGroup){
        const uri = window.location.pathname;
        const target = uri + "/reply/nested-reply";
        const contentId = "#nested-reply-content-" + replyGroup;
        const content = document.querySelector(contentId).value;

        const split = uri.split('/');
        const boardId = split[split.length - 1];

        fetch(target, {
            method: "post",
            headers: {
                "Content-Type": "application/json; charset=utf-8"
            },
            body: JSON.stringify({content: content, userId: [[${session.userId}]], boardId: boardId, depth: 2, replyGroup:replyGroup})
        })
    }

    function getUpdateForm(replyId) {
        const id = "#update-form-" + replyId;
        const e = document.querySelector(id);

        if (e.style.display == "none") {
            e.style.display = "block";
        } else if (e.style.display == "block") {
            e.style.display = "none";
        }
    }

    function updateReply(replyId){

        const uri = window.location.pathname;
        const target = uri + "/reply";
        const contentId = "#update-reply-content-" + replyId;
        const content = document.querySelector(contentId).value;

        fetch(target, {
            method: "put",
            headers: {
                "Content-Type":"application/json; charset=utf-8"
            },
            body: JSON.stringify({replyId : replyId, content:content})
        })
    }

    function deleteReply(replyId) {

        const uri = window.location.pathname;
        const target = uri + "/reply";

        fetch(target, {
            method: "delete",
            headers: {
                "Content-Type": "application/json; charset=utf-8"
            },
            body: JSON.stringify({replyId : replyId})
        }).then(function () {
            const id = "#reply-id-" + replyId;
            const block = document.querySelector(id);
            block.remove();
        })
    }

    function getNestedReply(replyGroup) {
        const uri = window.location.pathname;
        const target = uri + "/reply/nested-reply/" + replyGroup;
        const root = document.querySelector("#nested-reply-list-" + replyGroup);

        if (!root.querySelector("ul")) {
            fetch(target, {
                method: "get"
            }).then(response => response.json())
                .then(replyList => {

                    const ul = document.createElement("ul");
                    const input = document.createElement("input");
                    const hr = document.createElement("hr");

                    ul.classList.add("reply_box_list");


                    // -----------<li></li>영역-------------------
                    for (let i = 0; i < replyList.length; i++) {
                        const li = document.createElement("li");
                        li.setAttribute("id", "reply-id-" + replyList[i].replyId);

                        const replyBox = document.createElement("div");
                        replyBox.classList.add("reply_box");

                        let div = document.createElement("div");
                        div.classList.add("reply_box_nickname");
                        // div.innerText(replyList[i].nickname);
                        // div.setAttribute("className", "reply_box_nickname");
                        div.appendChild(document.createTextNode(replyList[i].nickname));
                        replyBox.appendChild(div);

                        div = document.createElement("div");
                        div.classList.add("reply_box_content");
                        // div.innerText(replyList[i].content);
                        // div.setAttribute("className", "reply_box_content");
                        div.appendChild(document.createTextNode(replyList[i].content));
                        replyBox.appendChild(div);

                        div = document.createElement("div");
                        div.classList.add("reply_box_function_buttons")
                        // div.setAttribute("className", "reply_box_function_buttons");
                        //---------------<button></button>---------------------------
                        if([[${session.userId}]] == replyList[i].userId){
                            let button = document.createElement("button");
                            button.classList.add("reply_box_update_btn");
                            button.innerText = "수정";
                            // button.setAttribute("className", "reply_box_update_btn");
                            // button.appendChild(document.createTextNode("수정"));
                            div.appendChild(button);
                            button = document.createElement("button");
                            button.classList.add("reply_box_delete_btn");
                            button.innerText = "삭제";
                            button.setAttribute("onclick", "deleteReply(" + replyList[i].replyId + ")");
                            // button.setAttribute("className", "reply_box_delete_btn");
                            // button.appendChild(document.createTextNode("삭제"));
                            div.appendChild(button);
                        }
                        //-----------------------------------------------------------
                        replyBox.appendChild(div);
                        li.appendChild(replyBox);

                        ul.appendChild(li);
                    }

                    root.appendChild(ul);
                })
        }

        const id = "#nested-reply-list-" + replyGroup;
        const e = document.querySelector(id);

        if (e.style.display == "none") {
            e.style.display = "block";
        } else if (e.style.display == "block") {
            e.style.display = "none";
        }
    }
</script>
</body>
</html>